<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IoT Project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">IoT Project</h3>
						<nav>
							<ul class="nav masthead-nav">
								<li class="active"><a href="#">Devices</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="#">About</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">Raspberry B+</h1>
					<div class="row statuses">
						<div class="col-xs-3 port-1" data-port-id="1" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-2" data-port-id="2" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-3" data-port-id="3" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-4" data-port-id="4" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-5" data-port-id="5" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-6" data-port-id="6" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-7" data-port-id="7" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
						<div class="col-xs-3 port-8" data-port-id="8" data-status="0">
							<a href="#" class="thumbnail port">
								<img src="http://dummyimage.com/200x200/dbdbdb/cc0000.png&text=O">
							</a>
						</div>
					</div>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>&copy; 2015 <a href="http://jiromm.com" target="_blank">Aram Baghdasaryan</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/constants.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>
